@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<POS_System.Models.Category>
@{
    ViewData["Title"] = "Category";
}
@{
    var edit = await AuthorizationService.AuthorizeAsync(User, "Update");

    var delete = await AuthorizationService.AuthorizeAsync(User, "Delete");

}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Category</h4>
        </div>
        <p>
            @{
                var result = await AuthorizationService.AuthorizeAsync(User, "Create");
                if (result.Succeeded)
                {
                    <a asp-action="Create" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i></a>
                }
            }
        </p>
        <div class="table-responsive">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Category Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var cate in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => cate.CategoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cate.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cate.Description)
                            </td>
                            <td>
                                @if (edit.Succeeded)
                                {
                                    <a class="mr-2 btn btn-sm btn-primary" asp-controller="Category" asp-action="Edit" asp-route-CategoryId="@cate.CategoryId"><i class="fa-solid fa-pen-nib"></i></a>
                                }
                                @if (delete.Succeeded)
                                {
                                    <a asp-controller="Category" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-CategoryId="@cate.CategoryId"><i class="fa-solid fa-trash"></i></a>
                                }

                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
